In [1]:
!gpustat

asterix  Fri Dec 24 20:58:19 2021
[0] Tesla P100-PCIE-16GB | 59'C, 100 % | 13619 / 16280 MB | adarsh-binny(1851M) bishal(4743M) punyajoy(7023M)
[1] Tesla P100-PCIE-16GB | 57'C, 100 % | 15936 / 16280 MB | bishal(4447M) punyajoy(11487M)

In [3]:
import numpy as np
import pandas as pd
import re
import tqdm as tqdm

In [49]:

# df_train = pd.read_csv("Dataset/jigsaw-toxic-comment-classification-challenge/train.csv")
# df_test = pd.read_csv("Dataset/jigsaw-toxic-comment-classification-challenge/test.csv")
# df_test_labels = pd.read_csv("Dataset/jigsaw-toxic-comment-classification-challenge/test_labels.csv")
# df_test=df_test.merge(df_test_labels, how='inner', on='id')
# df_total=pd.concat([df_train,df_test]).reset_index(drop=True)
# df_total=df_total[df_total['toxic']!=-1]
# df_total = df_total.rename(columns={"comment_text": "text"})


# val_df = pd.read_csv("Dataset/jigsaw-toxic-severity-rating/validation_data.csv")
# val_df.drop_duplicates(subset=['less_toxic', 'more_toxic'], keep='first', inplace=True)
# val_df.reset_index(inplace=True)
# df1 = val_df.drop(columns=['index','worker','more_toxic'])
# df2 = val_df.drop(columns=['index','worker','less_toxic'])
# df1.rename(columns={'less_toxic':'text'}, inplace=True)
# df2.rename(columns={'more_toxic':'text'}, inplace=True)
# frames = [df1, df2]
# df_total = pd.concat(frames)


df_total = pd.read_csv("Dataset/jigsaw-toxic-severity-rating/comments_to_score.csv")

In [50]:
df_total

      comment_id                                               text
0         114890  "\n \n\nGjalexei, you asked about whether ther...
1         732895  Looks like be have an abuser , can you please ...
2        1139051  I confess to having complete (and apparently b...
3        1434512  "\n\nFreud's ideas are certainly much discusse...
4        2084821  It is not just you. This is a laundry list of ...
...          ...                                                ...
7532   504235362                      Go away, you annoying vandal.
7533   504235566                           This user is a vandal.
7534   504308177  " \n\nSorry to sound like a pain, but one by f...
7535   504570375  Well it's pretty fucking irrelevant now I'm un...
7536   504598250  The team name is Great Britain and Northern Ir...

[7537 rows x 2 columns]

In [57]:


hatelist = open('Dataset/cursing_lexicon.txt').read().splitlines()
hatelist = [re.escape(s) for s in hatelist]
# pattern = '|'.join(hatelist)
# df_total['obfuscation'] = df_total['text'].str.match(pattern, case=False)
# # df_total['racial'] = df_total['racial'].astype(int)

In [58]:
for item in hatelist:
    df_total[item] =  (df_total['text'].str.match(item, case=False)).astype(int)

In [53]:
# df = df_total.drop(columns=['text'])
df = df_total.drop(columns=['comment_id','text'])

In [54]:
for col in df.columns:
    if df[col].sum() > 0:
        print(col, ':', df[col].sum())

ass : 4
asshole : 4
assholes : 1
bitch : 1
bullshit : 4
cum : 1
cunt : 1
dick : 1
dickhead : 1
douche : 3
douchebag : 1
dumb\ ass : 1
f\-u\-c\-k : 1
fag : 5
fagg : 2
faggot : 1
fags : 2
fuck : 75
fuck\ off : 7
fuckface : 1
fuckin : 8
fucking : 8
gai : 1
gtfo : 1
hell : 14
ho : 37
homo : 1
jackass : 1
lmao : 3
motherfucker : 1
nigga : 1
nigger : 2
niggers : 1
piss : 4
pussy : 1
shit : 2
wtf : 5
f\*\*\* : 1
"hell : 3
fucka : 1
nigg : 3
fak : 2
fuc : 75
gtf : 1
shet : 1